.kanban-card
  %h3 Item: #{item.id}
  %h2 
    %a{:href => "/item/#{item.id}"}
      =item.subject
    
    -unless item.due.nil?
      %h3=item.due_in_days
    -else
      %h3= item.sent_friendly
    %h2= item.from_friendly