!!! Strict
%html
  %head
    %title Kanban Mail
    %link{:rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "all"}
  %body
    %div#header
      %h1
        Kanban Mail
      %ul
        %li
          %a{:href => "/mail", :class => "active"}
            %span
              Get Mail
           
    %div{:class => "colmask threecol"}
      = yield
        
          
    %div#footer
      %h2 &copy;2012 Yellow Shovel, LLC
      %div#dev_info
        %h3 Site built with
        %ul
          %li
            %a{:href => "http://nginx.net"} Nginx 
          %li
            %a{:href => "http://haml.hamptoncatlin.com/"} HAML
          %li
            %a{:href => "http://www.sinatrarb.com/"} Sinatra
          %li
            %a{:href => "http://www.postgresql.org/"} PostgreSQL
          %li
            %a{:href => "http://www.ruby-lang.org"} Ruby
          %li
            %a{:href => "http://gembundler.com/"} Bundler
          %li
            %a{:href => "http://git.or.cz/"} Git
          
      
           
  
        
