%div{:class => "colmid"}
  %div{:class => "colleft"}
    %div{:class => "col1"}
      %h2 Action (#{@action_items.count})
      =partial(:item, :haml, :collection => @action_items)
      
      %hr
      %h2 Hold (#{@hold_items.count})
      =partial(:item, :haml, :collection => @hold_items)
      
      
    %div:{:class => "col2"}
      %h2 New (#{@new_items.count})
      =partial(:item, :haml, :collection => @new_items)
  
    
    %div{:class => "col3"}
      %h2 Done (#{@completed_items.count})
      =partial(:item, :haml, :collection => @completed_items)