%h2
  Sign In
%form{:action => "#{request.path_info}", :method => 'post'}
  %p
    %label
      Email
    %br
    %input{:id => 'email', :name => 'email', :type => 'text'}
  %p
    %label
      Password
    %br
    %input{:id => 'password', :name => 'password', :type => 'password'}
    
  %input{:type => 'submit', :value => 'Sign In'}